<div>
    <p> Cart contains {{getTotalAmount()}} item(s). Total sum:{{getTotalSum()}} </p>
    <div *ngIf ="cart.length > 0"> SetColor:
        <button (click)="setGreen()">green</button>
    </div>
    <p></p>
    <app-cart-item
        #item.amount
        *ngFor="let item of cart"
        [item]="item"
        (onRemove)="removeCartItem(item)"
        [sum]="this.getTotalSumByProductId(item.product.id)">
    </app-cart-item>
    <div *ngIf ="cart.length > 0"> 
        <button (click)="deleteAll()">Clear cart</button>
    </div>
</div>