<div>
    <p> Cart contains {{getTotalAmount()}} item(s). Total sum:{{getTotalSum()}} </p>
    <div *ngIf ="cart.length > 0"> SetColor:
        <button (click)="setGreen()">green</button>
    </div>
    <p></p>
    <app-cart-item
        #item.amount
        *ngFor="let item of cart"
        [item]="item"
        (onRemove)="removeCartItem(item)"
        [sum]="this.getTotalSumByProductId(item.product.id)">
    </app-cart-item>
    <div *ngIf ="cart.length > 0"> 
        <button (click)="deleteAll()">Clear cart</button>
    </div>

    <form>
        <div>
            <label>Config value {{savedNumber}}</label>
            <input
            type="number"
            name="value"
            [(ngModel)]="value">
            <button (click)="saveValue(value)">save</button>
        </div>
    </form>

    <!-- <div>Constant: {{this.constantsService ? this.constantsService.App}}</div> -->
    <!-- <div>Generator: {{this.generate()}}</div> -->
    
  </div>